ul li {
  cursor: pointer;
}
footer {
      background-color: #555;
      color: white;
      padding: 15px;
}
#bookdetail{
  margin-top: 20px;
   padding: 15px
}
img {
    display:block;
    margin:auto;
}
#headtext{
  color:gold;
}
